{% extends "base.html" %}

{% block titlepage%}  {% endblock %}

{% block content %}

<head>
<style>
#bouton {
	width:200px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}
</style>
<style type="text/css">
	
#conteneur
{
   width:100%; 
   margin-top:20px; 
   padding-bottom:25px; 
   padding-top:5px;
}
 
#colonne1
{
   width:50%; 
   float:left;
}
 
#colonne2
{
   width:50%; 
   float:left;
}
 
#bas
{
   clear:both;
}
</style>
</head>


<div id="conteneur">
	{% if user.is_superuser %}
	<form method="post" >
		{% csrf_token %}
   		<fieldset>
       		<legend> Filtrer la liste des étudiants.
       	    </legend> 
				<select name="master">
					<option selected value="all">Tous les masters</option>
				{% for obj in masters %}
		           <option value="{{obj.id}}">{{obj.name}}</option>
				{% endfor %}
		       </select>
		       <select name="cours">
		       		<option selected value="all" >Tous les cours</option>
		       	{% for obj in cours %}
		       		<option value="{{obj.id}}">{{obj.name}}</option>
		       	{% endfor %}
		       </select>
				<div>
				<input type="submit" value="Filtrer"/>
				</div>
  			</fieldset>
	</form>

	<table border="2" cellpadding="10" cellspacing="2" width="90%" align="center">
			<tr>
		        <td align="center" valign="center" COLSPAN=4 > <strong> Liste
		        {% if type_choix == '' %} 
		       		de tous les étudiants 
       			{% else %}
       				{% if type_choix == 'master' %}
       					des étudiants ayant choisis le master {{choix}}
       				{% else %}
       					des étudiants ayant choisi le cours {{choix}}
       				{% endif %}
       			{% endif %} </strong> </td> 
		   </tr>
		    <tr>
		      <td align="center" valign="center">Nom</td>
		      <td align="center" valign="center">Master</td>
		      <td align="center" valign="center">Option</td>
		      <td align="center" valign="center">Liste des cours</td>
		   </tr>
		   {% for obj in profiles %}
		   <tr>
		      <td align="center" valign="center">{{obj.user.username}}</td>
		      <td align="center" valign="center">{{obj.master.name}}</td>
		      <td align="center" valign="center">{{obj.option.name}}</td>
		      <td align="center" valign="center"> 
		      </td>
		   </tr>
		   {% endfor %}
	</table>
	{% else %} 
			<h3 aligne="center"> Vous ne disposez pas des droits pour accéder à cette page. </h3>
	{% endif %}
</div>
{% endblock %}