{% extends "base.html" %}
{% load static %}

{% block title %} Page d'accueil {% endblock %}







{% block content %}

<h3> L'objectif de cet outil est d'accompagner les élèves de l'école des Ponts du département IMI dans leurs choix de 3ème année. En créant un compte, tout élève concerné aura la possibilité de choisir son master pour sa 3A, de choisir son "option" et de choisir ses cours. Il lui sera également possible de rentrer en contact avec le département pour toute question concernant son parcours.

</br> <BR>

Un calcul sera alors effectué pour alerter l'étudiant sur la conformité de ses choix avec les modalités de validation du département. 
</br> <BR>


Ainsi, un avertissement sera donné pour :

<ul>
  <li> Un nombre d'ECTS insuffisant</li>
  <li> Un conflit au niveau de l'emploi du temps : deux cours ayant lieu la même journée et géographiquement éloignés </li>

</ul>

De plus, certains choix seront automatiquement refusés :

<ul>
  <li> Un cours choisi à la fois comme obligatoire et optionnel </li>
  <li> Deux cours dont les horaires sont incompatibles </li>

</ul>

</h3>

{% endblock %}
