{% extends "base.html" %}

{% block titlepage%} Construis ta 3A.  {% endblock %}

{% block content %}

<head>
<style>
#bouton {
	width:200px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}
</style>
<style type="text/css">
	
#conteneur
{
   width:100%; 
   margin-top:20px; 
   padding-bottom:25px; 
   padding-top:5px;
}
 
#colonne1
{
   width:50%; 
   float:left;
}
 
#colonne2
{
   width:50%; 
   float:left;
}
 
#bas
{
   clear:both;
}
</style>
</head>

<div id="conteneur">
   <div id="colonne1">
   		<h3 align="center">Mon choix actuel de 3A est </h3>  

   		<h3 align="center"> {{master_chosen}}</h3>
		<form method="post">
			{% csrf_token %}
   			<fieldset>
       			<legend>Modifier mon choix de la 3A</legend> 
				{% for obj in masters %}
				{% if master_chosen == obj.name %}
					<INPUT TYPE="radio" NAME= "master" VALUE={{obj.name}} CHECKED> <a href={{obj.website}}>{{obj.name}} </a> <br /> <BR>
				{%else%}
					<INPUT TYPE="radio" NAME= "master" VALUE={{obj.name}}>  <a href={{obj.website}}>{{obj.name}}</a> <br /> <BR>
				{%endif%}
				{% endfor %}
				<div>
				<input type="submit" value="Modifier mon choix de 3A"/>
				</div>
  			</fieldset>
		</form>
	</div>
	<div id="colonne2">
		<h3 align="center">Mon choix actuel d'option est </h3>
		<h3 align="center"> {{option_chosen}}</h3>
	 	<form method="post">
	 		{% csrf_token %}
   			<fieldset>
       			<legend>Modifier mon choix d'option</legend> 
				{% for obj in options %}
				{% if option_chosen == obj.name %}
					<INPUT TYPE="radio" NAME= "option" VALUE={{obj.id}} CHECKED> {{obj.name}} <br /> <BR>
				{%else%}
					<INPUT TYPE="radio" NAME= "option" VALUE={{obj.id}}> {{obj.name}} <br /> <BR>
				{%endif%}
				{% endfor %}
				<div>
    			<button type="submit">Modifier mon choix d'option</button>
  				</div>
  			</fieldset>
		</form>
</div>

   	</div>
   <div id="bas">
   </div>
</div>


<form align="center" action="{% url 'choix_des_cours' %}">
    <input id=bouton type="submit" value="Choisir mes cours." />
</form>


<div id="conteneur">
   <div id="colonne1">
   		</br></br>
		<table border="2" cellpadding="10" cellspacing="2" width="90%" align="center">
			<tr>
		       <td align="center" valign="center" COLSPAN=4 > <strong> Recapitulatif des options pour la 3A </strong> </td> 
		   </tr>
		   <tr>
		      <td style="background-color: #B6B5B5" align="center" valign="center">OPTION</td>
		      <td style="background-color: #B6B5B5" align="center" valign="center">Validation du M2</td>
		      <td style="background-color: #B6B5B5" align="center" valign="center">Cours supplémentaire</td>
		      <td style="background-color: #B6B5B5" align="center" valign="center">Stage de M2 fusionné avec le PFE</td>

		   </tr>
		   <tr>
		      <td style="background-color: #FAAC58" align="center" valign="center">3A Ecole</td>
		      <td align="center" valign="center"> NON</td>
		      <td align="center" valign="center"> NON</td>
		      <td align="center" valign="center"> NON </td>
		   </tr>
		   <tr>
		      <td style="background-color: #FAAC58" align="center" valign="center">3A M2 imbriques stage M2 et PFE </td>
		      <td align="center" valign="center"> OUI </td>
		      <td align="center" valign="center">NON </td>
		      <td align="center" valign="center"> NON  </td>
		   </tr>
		   <tr>
		      <td style="background-color: #FAAC58" align="center" valign="center">3A M2 imbriqués 3 cours supplementaires</td>
		      <td align="center" valign="center"> OUI </td>
		      <td align="center" valign="center"> OUI </td>
		      <td align="center" valign="center"> OUI </td>
		   </tr>
		   <tr>
		      <td style="background-color: #FAAC58" align="center" valign="center">3A M2 imbriqués 2 cours supplémentaires et un projet  </td>
		      <td align="center" valign="center"> OUI </td>
		      <td align="center" valign="center"> OUI  </td>
		      <td align="center" valign="center"> OUI  </td>
		   </tr>
		</table>
	</div>
	<div id="colonne2">
		<div>
  			<h1>Descriptif de chaque option :</h1>
  			<br />
  			<ul>
    		<li> <strong> 3A Ecole </strong></li>

    		Vous devez valider 5 à 6 modules du M2 sans validation du master recherche. Vous devez effectuer votre PFE.
    		<br /> <BR>

    		<li> <strong> 3A M2 imbriques stage M2 et PFE </strong></li>

    		Vous validerez le diplôme des Ponts ainsi que votre master 2. Le PFE d'ingénieur et le stage du M2 ne sont pas fusionnés. Vous devrez donc effectuer votre PFE à la suite du stage de M2 (plus 6 mois après le M2).
  			<br /> <BR>

  			<li> <strong> 3A M2 imbriqués 3 cours supplementaires </strong></li>

  			Vous validerez le diplôme des Ponts ainsi que votre master 2. Vous devez choisir 3 cours supplémentaires à 5 Ects : parmi les cours du M2 (en dehors de ceux validant le M2) ou d'un autre des M2 (IMI) ou des cours de 3A IMI, par exemple les cours Mathematics for business and startup (9 Ects), Data Driven Robust Optimization (5 Ects) et Algorithmes de Monte-Carlo par chaînes de Markov et méthodes particulaires (6 Ects).
  			<br /> <BR>

  			<li> <strong> 3A M2 imbriqués 3 cours supplementaires </strong></li>

			Vous validerez le diplôme des Ponts ainsi que votre master 2. Vous devez choisir 2 cours supplémentaires à 5 Ects et effectuer un projet (validation par le département).
  			</ul>
</div>

   	</div>
   <div id="bas">
   </div>
</div>
{% endblock %}